### Bibliotecas utilizadas

In [ ]:
import pandas as pd
import requests
import sqlite3
from bs4 import BeautifulSoup

### Parte 1 Configuração e Criação de Banco de Dados

In [ ]:
conn = sqlite3.connect('empresa.db') #iniciando o banco de dados
cursor = conn.cursor() #definindo a conexão

In [ ]:
cursor.execute('CREATE TABLE IF NOT EXISTS tbl_funcionarios(pk_func INTEGER PRIMARY KEY AUTOINCREMENT, name_func TEXT NOT NULL, role_func TEXT NOT NULL, raise_func REAL NOT NULL, date_func DATE DEFAULT CURRENT_DATE)') #criando a tabela

In [ ]:
cursor.execute('PRAGMA table_info(tbl_funcionarios);') #executando a query
cursor.fetchall() #verificando a estrutura

[(0, 'pk_func', 'INTEGER', 0, None, 1),
 (1, 'name_func', 'TEXT', 1, None, 0),
 (2, 'role_func', 'TEXT', 1, None, 0),
 (3, 'raise_func', 'REAL', 1, None, 0),
 (4, 'date_func', 'DATE', 0, 'CURRENT_DATE', 0)]

### Parte 2 Manipulaçõa de Dados (DML)

In [ ]:
dados = [['Erick', 'Intern', 2000], ['Gustavo', 'Analist Jr', 4000], ['Diego', 'Analist Jr', 4000], ['Flavio', 'Analist Sen', 8000], ['Erica', 'Manager', 12000]] #lista de dados

for i in dados:
    cursor.execute('INSERT INTO tbl_funcionarios(name_func, role_func, raise_func) VALUES(?, ?, ?);', (i[0], i[1], i[2])) #iterando sobre a lista e adicionando as informações na query

conn.commit() #commitando as mudanças
cursor.execute('SELECT * FROM tbl_funcionarios;') #selecionando as informações
cursor.fetchall()  #exibindo os resultados

[(1, 'Erick', 'Intern', 2000.0, '2025-11-09'),
 (2, 'Gustavo', 'Analist Jr', 4000.0, '2025-11-09'),
 (3, 'Diego', 'Analist Jr', 4000.0, '2025-11-09'),
 (4, 'Flavio', 'Analist Sen', 8000.0, '2025-11-09'),
 (5, 'Erica', 'Manager', 12000.0, '2025-11-09')]

In [ ]:
cursor.execute('SELECT * FROM tbl_funcionarios WHERE raise_func > 5000;') #query para filtro com salários acima de 5 mil na tabela
cursor.fetchall() #exibindo os resultados

[(4, 'Flavio', 'Analist Sen', 8000.0, '2025-11-09'),
 (5, 'Erica', 'Manager', 12000.0, '2025-11-09')]

In [ ]:
cursor.execute('SELECT * FROM tbl_funcionarios WHERE role_func == "Manager";') #query para filtro com cargo de gerente
cursor.fetchall() #exibindo os resultados

[(5, 'Erica', 'Manager', 12000.0, '2025-11-09')]

In [ ]:
cursor.execute('UPDATE tbl_funcionarios SET raise_func = 2300 WHERE role_func == "Intern";') #query para atualizar o salário do estag
conn.commit() #executando mudanças

cursor.execute('SELECT * FROM tbl_funcionarios WHERE raise_func = 2300;') #query para filtro com o salário atualizado
cursor.fetchall() #exibindo os resultados

[(1, 'Erick', 'Intern', 2300.0, '2025-11-09')]

In [ ]:
cursor.execute('SELECT COUNT(*) FROM tbl_funcionarios;') #query para contabilizar os registros
cursor.fetchall() #exibindo os resultados

[(5,)]

### Parte 3 Agregação e Ordenação

In [ ]:
cursor.execute('SELECT SUM(raise_func) FROM tbl_funcionarios') #query para somar todos os salários
cursor.fetchall() #exibindo os resultados

[(30300.0,)]

In [ ]:
cursor.execute('SELECT AVG(raise_func) FROM tbl_funcionarios;') #query para verificar a média salarial
cursor.fetchall() #exibindo os resultados

[(6060.0,)]

In [ ]:
cursor.execute('SELECT MAX(raise_func), MIN(raise_func) FROM tbl_funcionarios;') #query para exibir salário máximo e mínimo
cursor.fetchall() #exibindo os resultados

[(12000.0, 2300.0)]

In [ ]:
cursor.execute('SELECT AVG(raise_func), role_func FROM tbl_funcionarios GROUP BY role_func;') #query para a média salarial por cargo
cursor.fetchall() #exibindo os resultados

[(4000.0, 'Analist Jr'),
 (8000.0, 'Analist Sen'),
 (2300.0, 'Intern'),
 (12000.0, 'Manager')]

In [ ]:
cursor.execute('SELECT COUNT(role_func), role_func FROM tbl_funcionarios GROUP BY role_func;') #query para agrupar funcionários por cargos
cursor.fetchall() #exibindo os resultados

[(2, 'Analist Jr'), (1, 'Analist Sen'), (1, 'Intern'), (1, 'Manager')]

In [ ]:
cursor.execute('SELECT * FROM tbl_funcionarios ORDER BY raise_func DESC;') #query para retornar os funcionários por salário decrescente
cursor.fetchall() #exibindo os resultados

[(5, 'Erica', 'Manager', 12000.0, '2025-11-09'),
 (4, 'Flavio', 'Analist Sen', 8000.0, '2025-11-09'),
 (2, 'Gustavo', 'Analist Jr', 4000.0, '2025-11-09'),
 (3, 'Diego', 'Analist Jr', 4000.0, '2025-11-09'),
 (1, 'Erick', 'Intern', 2300.0, '2025-11-09')]

In [ ]:
cursor.execute('SELECT * FROM tbl_funcionarios ORDER BY name_func ASC;') #query para retornar os funcionários em ordem alfabética
cursor.fetchall() #exibindo os resultados

[(3, 'Diego', 'Analist Jr', 4000.0, '2025-11-09'),
 (5, 'Erica', 'Manager', 12000.0, '2025-11-09'),
 (1, 'Erick', 'Intern', 2300.0, '2025-11-09'),
 (4, 'Flavio', 'Analist Sen', 8000.0, '2025-11-09'),
 (2, 'Gustavo', 'Analist Jr', 4000.0, '2025-11-09')]

### Transações e ROLLBACK

In [ ]:
try: #usando rollback com erro proposital conforme proposta
    conn.execute('BEGIN')
    cursor.execute('INSERT INTO tbl_funcionarios(name_func, role_func, raise_func) VALUES("Flerdigo", "Analist Sen", 8700);')
    var = 1/0
    conn.commit()
except:
    conn.rollback()
    print('Deu errado!')

Deu errado!

In [ ]:
cursor.execute('SELECT * FROM tbl_funcionarios;') #query para retornar todos os funcionários e verificar que o novo funcionário não foi salvo
cursor.fetchall() #exibindo os resultados

[(1, 'Erick', 'Intern', 2300.0, '2025-11-09'),
 (2, 'Gustavo', 'Analist Jr', 4000.0, '2025-11-09'),
 (3, 'Diego', 'Analist Jr', 4000.0, '2025-11-09'),
 (4, 'Flavio', 'Analist Sen', 8000.0, '2025-11-09'),
 (5, 'Erica', 'Manager', 12000.0, '2025-11-09')]

In [ ]:
try: #usando commit sem erros propositais
    conn.execute('BEGIN')
    cursor.execute('INSERT INTO tbl_funcionarios(name_func, role_func, raise_func) VALUES("Flerdigo", "Analist Sen", 8700);')
    conn.commit()
except:
    conn.rollback()
    print('Deu errado!')

In [ ]:
cursor.execute('SELECT * FROM tbl_funcionarios;') #query para retornar todos os funcionários e verificar que o novo funcionário foi salvo
cursor.fetchall() #exibindo os resultados

[(1, 'Erick', 'Intern', 2300.0, '2025-11-09'),
 (2, 'Gustavo', 'Analist Jr', 4000.0, '2025-11-09'),
 (3, 'Diego', 'Analist Jr', 4000.0, '2025-11-09'),
 (4, 'Flavio', 'Analist Sen', 8000.0, '2025-11-09'),
 (5, 'Erica', 'Manager', 12000.0, '2025-11-09'),
 (6, 'Flerdigo', 'Analist Sen', 8700.0, '2025-11-09')]

### Parte 5 Joins e Múltiplas Tabelas

In [ ]:
cursor.execute('CREATE TABLE IF NOT EXISTS tbl_departments(pk_departs INTEGER PRIMARY KEY AUTOINCREMENT, name_depart TEXT NOT NULL, local_depart TEXT);') #criando uma nova tabela

In [ ]:
cursor.execute('PRAGMA table_info(tbl_departments);') #executando a query
cursor.fetchall() #verificando a estrutura

[(0, 'pk_departs', 'INTEGER', 0, None, 1),
 (1, 'name_depart', 'TEXT', 1, None, 0),
 (2, 'local_depart', 'TEXT', 0, None, 0)]

In [ ]:
dados = [['IT', 'Sao Paulo'], ['HR', 'Rio de Janeiro'], ['Sales', 'Belo Horizonte']] #lista de dados

for i in dados:
    cursor.execute('INSERT INTO tbl_departments(name_depart, local_depart) VALUES(?, ?);', (i[0], i[1])) #iterando sobre a lista e adicionando as informações na query

conn.commit() #commitando as mudanças
cursor.execute('SELECT * FROM tbl_departments;') #selecionando as informações
cursor.fetchall()  #exibindo os resultados

[(1, 'IT', 'Sao Paulo'),
 (2, 'HR', 'Rio de Janeiro'),
 (3, 'Sales', 'Belo Horizonte')]

In [ ]:
cursor.execute('ALTER TABLE tbl_funcionarios ADD COLUMN fk_depart INTEGER REFERENCES tbl_departments(pk_depart);')
conn.commit()

In [ ]:
cursor.execute('UPDATE tbl_funcionarios SET fk_depart = 1 WHERE role_func == "Intern";') #query para atualizar o departamento do estag

cursor.execute('UPDATE tbl_funcionarios SET fk_depart = 2 WHERE role_func == "Analist Sen";') #query para atualizar o departamento dos seniores

cursor.execute('UPDATE tbl_funcionarios SET fk_depart = 3 WHERE role_func == "Analist Jr";') #query para atualizar o departamento do junior

cursor.execute('UPDATE tbl_funcionarios SET fk_depart = 1 WHERE role_func == "Manager";') #query para atualizar o departamento do gerente
conn.commit() #commitando as mudanças

In [ ]:
cursor.execute('SELECT * FROM tbl_funcionarios;') #selecionando as informações
cursor.fetchall()  #exibindo os resultados

[(1, 'Erick', 'Intern', 2300.0, '2025-11-09', 1),
 (2, 'Gustavo', 'Analist Jr', 4000.0, '2025-11-09', 3),
 (3, 'Diego', 'Analist Jr', 4000.0, '2025-11-09', 3),
 (4, 'Flavio', 'Analist Sen', 8000.0, '2025-11-09', 2),
 (5, 'Erica', 'Manager', 12000.0, '2025-11-09', 1),
 (6, 'Flerdigo', 'Analist Sen', 8700.0, '2025-11-09', 2)]

In [ ]:
cursor.execute('SELECT f.name_func, d.name_depart  FROM tbl_funcionarios f INNER JOIN tbl_departments d ON f.fk_depart = d.pk_departs;') #query para exibir funcionários e departamentos
cursor.fetchall()  #exibindo os resultados

[('Erick', 'IT'),
 ('Gustavo', 'Sales'),
 ('Diego', 'Sales'),
 ('Flavio', 'HR'),
 ('Erica', 'IT'),
 ('Flerdigo', 'HR')]

In [ ]:
cursor.execute('CREATE TABLE IF NOT EXISTS tbl_projects(pk_project INTEGER PRIMARY KEY AUTOINCREMENT, name_project TEXT NOT NULL);') #criando uma nova tabela

In [ ]:
cursor.execute('CREATE TABLE IF NOT EXISTS tbl_particulars(pk_part INTEGER PRIMARY KEY AUTOINCREMENT, name_depart TEXT NOT NULL);') #criando uma nova tabela

In [ ]:
cursor.execute('CREATE TABLE IF NOT EXISTS tbl_particulars_partners(pk_partpart INTEGER PRIMARY KEY AUTOINCREMENT, fk_func INTEGER REFERENCES tbl_funcionarios(pk_func), fk_part INTEGER REFERENCES tbl_particulars(pk_part));') #criando uma nova tabela